<div>
    <ul class="nav justify-content-center nav-tabs" style="background-color:transparent; float: right ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Availability
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#"> Online</a>
                <a class="dropdown-item" href="#">Offline</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Notifications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Reviews</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="#">Rides</a>
        </li>
    </ul>
</div>
<div >
    <img src="assets/images/cae2.jpg" class="img-responsive" width="100%">
</div>