<section>
    <div class="common-top-banner about-us-banner">
        <div class="overlay"></div>
        <div class="text-overlay"></div>
        <div class="banner-content">
            <h1>Who we are</h1>
            <label><h5>The TRU NOIR Story</h5></label>
        </div>
    </div>
</section>
<section>
    <div class="about-tab-container">
        <div class="about-content-wrapper"
            style="background-image:url(assets/images/blank.jpg)  ; background-repeat:no-repeat;background-size: 100% 100%">
            <div class="comm-indiv-content content-active" id="about">
                <div class="about-content max-width">
                    <div class="about-section">
                        <div class="section-container">
                            <h1 class="section-heading">
                                Redefining Mobility for Billions
                            </h1>
                        </div>
                        <div class="wd-50 left">
                            <div class="section-container">
                                <div class="section-sub-heading">
                                   <p>Founded in 2019 by seven developers of Capgemini, TRU Noir is one of the world’s
                                    largest ride-sharing companies. TRU Noir integrates city transportation for
                                    customers and
                                    driver-partners onto a mobile technology platform ensuring convenient, transparent,
                                    and quick service fulfilment. TRU Noir is focused on leveraging the best of
                                    technology
                                    and building innovative solutions ground-up, that are relevant at global scale.</p>
                                    <br>
                                    <p>TRU noir is a taxi booking app which allows you to connect great rides from a
                                    professional driver at affordable prices. You simply need to book a ride through an
                                    app, driver will come to your pick up point and drop you at your destination. There
                                    are few unique features which help the driver and customer to find each other. You
                                    can book ride for immediate or "Ride Later" for a pick-up up to minimum 1 hour in
                                    advance. Apart from this, the app also allows you to track driver's location, get
                                    fare estimation and track ride history in the most convenient way. So just download
                                    the app now and experience your first ride today by selecting the one from different
                                    car categories like TRUcar, TRUsuv, TRUrapid, and TRUPremium. It’s fantastic to get
                                    a ride on-demand or in advance with just a tap on your phone, track your drivers and
                                    keep them in touch then pay with cards!</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>