
<div style="background-image:url(assets/images/car.jpg); background-repeat:no-repeat;background-size: 100% 100%"> 

  <div style="background-color:black">
      <!-- style="background-color:#e6b800" -->
  <nav class="navbar navbar-expand-sm navbar-dark justify-content-end " style="background-color:rgba(0,0,0,0.16),0 2px 10px 0;">
    <a class="navbar-brand mr-auto" href="#">
      <img src="assets/images/trunior-logo.png" width="70px" height="70px" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0">
      <ul class="navbar-nav text-right">
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="user/signUp"
            style="font-size:23px;font-weight: bold; margin-right: 10px">Sign Up</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="user/signIn"
            style="font-size:23px;font-weight: bold;margin-right: 10px">Sign In</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="driver/home" style="font-size:23px;font-weight: bold;margin-right: 10px">Drive With
            Us</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="/admin/login"
            style="font-size:23px;font-weight: bold;margin-right: 10px">Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink="aboutUs" style="font-size:23px;font-weight: bold;margin-right: 10px">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
</div>



<!-- <div class="container-fluid">
  <img src="assets/images/taxi.jpg" height="100%" width="100%" />
</div> -->


 <!-- <UserSignUpComponent></UserSignUpComponent>  -->
<!-- <book-Ride></book-Ride> -->
<!-- <ride-now></ride-now> -->
 <!-- <select-driver></select-driver>  -->
 <!-- <confirm-booking></confirm-booking> -->
<router-outlet></router-outlet>
<!-- <user-rides></user-rides> -->
<!-- <user-ridelist></user-ridelist> -->
<!-- <about-us></about-us> -->


<!-- ******************************* FOOTER START HERE*****************************-->

<footer class="footer">
  <div class="container bottom_border">
  <div class="row">
  <div class=" col-sm-4 col-md col-sm-4  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Contact Us</h5>

  <p class="mb10">Capgemini Knowledge Park, TTC Area, Airoli</p>
  <p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 mrunal 35 </p>
  <p><i class="fa fa-phone"></i>  +91-9999878398  </p>
  <p><i class="fa fa fa-envelope"></i> trunoirtaxiservice@gmail.com  </p>
  
  
  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Ride With Us</h5>

  <ul class="footer_ul_amrc">
  <li><a  routerLink="user/signIn">Sign In</a></li>
  <li><a routerLink="user/signUp">sign up</a></li>
  <li><a  routerLink="user/signIn">Book a Ride</a></li>
  <!-- <li><a href="http://webenlance.com"></a></li> -->
  <!-- <li><a href="http://webenlance.com"></a></li>
  <li><a href="http://webenlance.com">Image Cropping</a></li> -->
  </ul>

  </div>
  
  
  <div class=" col-sm-4 col-md  col-6 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Drive With Us</h5>

  <ul class="footer_ul_amrc">
  <li><a routerLink="/driver/registration">New Registration</a></li>
  <li><a routerLink="/driver/login" >Login</a></li>
  <li><a routerLink="driver/home">Document List</a></li>
 
  <!-- <li><a href="http://webenlance.com"></a></li>
  <li><a href="http://webenlance.com"></a></li> -->
  </ul>

  </div>
  
  
  <div class=" col-sm-4 col-md  col-12 col">
  <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>

  
  <ul class="footer_ul2_amrc">
  <li><a href="#"><i class="fa fa-google fleft padding-right"></i> </a><p><a routerLink="home">https://www.trunoir.com</a></p></li>
  <li><a href="#"><i class="fa fa-facebook fleft padding-right"></i> </a><p><a href="#">trunoir_app</a></p></li>
  <li><a href="#"><i class="fa fa-instagram fleft padding-right"></i> </a><p><a href="#">@trunoir</a></p></li>
  </ul>

  </div>
  </div>
  </div>
  
  
  <div class="container">
  <ul class="foote_bottom_ul_amrc">
  <li><a routerLink="home">Home</a></li>
  <li><a routerLink="aboutUs">About</a></li>
  <li><a routerLink="home">Services</a></li>
  <li><a routerLink="home">Pricing</a></li>
  <li><a routerLink="aboutUs">Blog</a></li>
  <li><a routerLink="home">Contact</a></li>
  </ul>

  <p class="text-center">Copyright @2018 | Designed by <a href="#">Trunoir-On-demand-Taxi-Booking-Services</a></p>
  
  <ul class="social_footer_ul" >
  <li><a href="https://www.hyperlinkinfosystem.com/case-study/tru-noir-on-demand-taxi-booking-app"><i class="fa fa-instagram"></i></a></li>
  <li><a href="https://www.hyperlinkinfosystem.com/case-study/tru-noir-on-demand-taxi-booking-app"><i class="fa fa-facebook-f"></i></a></li>
  <li><a href="https://github.com/"><i class="fa fa-github"></i></a></li>
  <li><a href="https://in.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
  <li><a href="https://accounts.google.com/signin/v2/identifier?flowName=GlifWebSignIn&flowEntry=ServiceLogin"><i class="fa fa-google"></i></a></li>

  </ul>

  </div>
  
  </footer>
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->

<!-- <div  style="width:100%">
  <div id="footer">
    <div class="f">
      <p class="hed">
        <span style="font-size: 50px; color:white">Follow Us</span><br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in.
      </p>

      <figure id="fig">
        <img src="assets/images/fb.png">
        <img src="assets/images/tw.png">
        <img src="assets/images/go.png">
        <img src="assets/images/wi.png">
      </figure>
    </div>

    <div class="f">
      <figure>
        <img src="assets/images/excl.jpg">
      </figure>&nbsp;&nbsp;
      <ul id="ul3">
        <li>Lorem ipsum dolor sit amet</li>
        <li>consectetur adipisicing</li>
        <li>sed do eiusmod tempor</li>
        <li>ipsum dolor sit amet</li>
        <li>sed do eiusmod tempor</li>
      </ul>
    </div>

    <div class="f">
      <p class="hed"><span style="font-size: 50px; color:white;">Testimonals</span><br />
        "Lorm ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor in."
      </p>
      <p id="p6">-John Smith NY</p><br>
    </div>
    <br><br><br><br><br><br><br><br><br><br>

    <p id="p7"> &copy; Copyright 2014-2015.All Rights Reserved | Designed by:buylandingpagedesign.com<br>
      Download responsive landing page designs and website design<br>
      buylandingpagedesign.com
    </p>
  </div>
</div>
</div> -->