.about-tab-container {
    position: relative;
}
.about-tab-container {
    text-align: center;
}
.about-tab-container .about-content-wrapper {
    padding: 16px;
}
.about-tab-container .about-content-wrapper .content-active {
    display: block;
    opacity: 1;
}
.about-content {
    padding: 20px 0 20px 0;
}
.about-content {
    text-align: left;
    padding: 50px 0 50px 0;
}

.max-width {
    max-width: 1200px;
    margin: auto;
}
.about-content .about-section {
    margin-bottom: 30px;
}
.section-container {
    letter-spacing: 0.3px;
}
.about-content .wd-50 {
    width: 100%;
    float: none;
    text-align: left;
}
.section-container {
    letter-spacing: 0.3px;
}
.about-content .about-section .section-sub-heading {
    font-size: 16px;
    padding-right: 0;
}
.about-content .about-section .section-sub-heading {
  
    line-height: 24px;
}
.section-container .section-sub-heading {
 
    font-weight: 300;
    color: rgba(0, 0, 0,1);
    opacity: 0.5;
    display: block;

}

.service-info {
    display: block;
    padding: 60px 20px 60px 20px;
}

.section-container {
    letter-spacing: 0.3px;
}
.max-width {
    max-width: 1200px;
    margin: auto;
}
.section-container .section-heading {
    font-size: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.92);
    margin-bottom: 5px;
    display: block;
}
.section-container .section-sub-heading {
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.92);
    opacity: 0.5;
    display: block;
    line-height: 20px;
}
.service-info .card-list-container {
    display: block;
    padding-top: 60px;
}
.service-info .card-holder:first-child {
    padding-left: 0;
}
.service-info .card-holder {
    width: 50%;
    margin-bottom: 30px;
}
.service-info .card-holder {
    float: left;
    padding-right: 38px;
}
.service-info .indiv-card {
    background: #FBFBFC;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    letter-spacing: 0.3px;
    display: inline-block;
}
.service-info .indiv-card .img-holder {
    width: 100%;
    position: relative;
}
.service-info .indiv-card .img-holder .overlay {
    position: absolute;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0.3;
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.service-info .indiv-card .info-container {
    padding: 20px 20px 0 20px;
    text-align: left;
}
/* .service-info .indiv-card .action-btn {
    font-size: 16px;
    font-weight: 400;
    color: #0680FD;
    cursor: pointer;
    height: 50px;
    line-height: 45px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
} */
.service-info .indiv-card .img-holder .type-1 {
    background: url(/assets/images/taxi.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.service-info .indiv-card .img-holder .share-img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.service-info .indiv-card .info-container .comm-info {
    font-size: 16px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    line-height: 24px;
    min-height: 150px;
}
.service-info .indiv-card .info-container .heading {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    color: #4A4A4A;
    margin-bottom: 15px;
    display: block;
}