<div>
  <img src="assets/images/cae2.jpg" style=" background-repeat:no-repeat;width: 100%; height: 100%" />
</div>
<!-- <section>
      <div class="about-tab-container">
          <div class="about-content-wrapper"
              style="background-image:url(assets/images/blank.jpg)  ; background-repeat:no-repeat;background-size: 100% 100%">
              <div class="comm-indiv-content content-active" id="about">
                  <div class="about-content max-width">
                      <div class="about-section">
                          <div class="section-container">
                              <h1 class="section-heading">
                                  Redefining Mobility for Billions
                              </h1>
                          </div>
                          <div class="wd-50 left">
                              <div class="section-container">
                                  <div class="section-sub-heading">
                                      Founded in 2019 by seven developers of Capgemini, TRU Noir is one of the world’s
                                      largest ride-sharing companies. TRU Noir integrates city transportation for
                                      customers and
                                      driver-partners onto a mobile technology platform ensuring convenient, transparent,
                                      and quick service fulfilment. TRU Noir is focused on leveraging the best of
                                      technology
                                      and building innovative solutions ground-up, that are relevant at global scale.
                                      <br><br>
                                      TRU noir is a taxi booking app which allows you to connect great rides from a
                                      professional driver at affordable prices. You simply need to book a ride through an
                                      app, driver will come to your pick up point and drop you at your destination. There
                                      are few unique features which help the driver and customer to find each other. You
                                      can book ride for immediate or "Ride Later" for a pick-up up to minimum 1 hour in
                                      advance. Apart from this, the app also allows you to track driver's location, get
                                      fare estimation and track ride history in the most convenient way. So just download
                                      the app now and experience your first ride today by selecting the one from different
                                      car categories like TRUcar, TRUsuv, TRUrapid, and TRUPremium. It’s fantastic to get
                                      a ride on-demand or in advance with just a tap on your phone, track your drivers and
                                      keep them in touch then pay with cards!
                                  </div>
                              </div>
                          </div>
                      </div>
  
                  </div>
              </div>
          </div>
      </div>
  
  </section> -->

<section>
  <div class="service-info"
    style="background-image:url(assets/images/blank.jpg)  ; background-repeat:no-repeat;background-size: 100% 100%">
    <div class="section-container max-width">
      <h2 class="section-heading">
        A car for every occasion
      </h2>
      <label class="section-sub-heading">
        TRU Noir offers city taxis, inter-city cabs, and local cabs at hourly packages
      </label>
      <div class="card-list-container clearfix">
        <div class="card-holder">

          <div class="indiv-card"><a routerLink="/user/signIn">
              <div class="img-holder">
                <div class="type-1 share-img" style="background-image: url(/assets/images/taxi.jpg);">
                </div>
                <!-- <div class="overlay"></div> -->

              </div>
              <div class="info-container">
                <h2 class="heading">Book a Ride</h2>
                <p class="comm-info">
                  The perfect way to get through your everyday travel needs. City taxis are available 24/7 and you can
                  book and travel in an instant. With rides starting from as low as Rs. 6/km, you can choose from a wide
                  range of options!
                </p>

              </div>
            </a><a href="" class="action-btn hide">

            </a>
          </div>

        </div>
        <div class="card-holder">

          <div class="indiv-card"><a routerLink="driver/home">
              <div class="img-holder">
                <div class="type-2 share-img" style="background-image: url(/assets/images/about-us-banner2.jpg);">
                </div>
                <div class="overlay"></div>

              </div>
              <div class="info-container">
                <h2 class="heading">Drive with Us</h2>
                <p class="comm-info">
                  Earn Money, Earn Respect...
                  Drive with Us and make money easily. Register with us and submit your documents. Drive with Us, Make
                  Money and Earn Respect. Come and Join the TRU Noir on demand Taxi Booking Services.
                </p>

              </div>


            </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>