
<br >
{{user.username}}
<div class="mx-auto" style="width:400px;border-radius:10px;  background-color:black; opacity: 0.6;">
    <h3 class="text-center text-light">Sign Up</h3>
    <form class="form-horizontal" (ngSubmit)="signUpDetailsOfUser()" #accountForm="ngForm">
        <div class="form-group">
            <label class="control-label col-sm-2 text-light" for="username">Name:</label>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="username" placeholder="Enter Name" [(ngModel)]="user.username" name="username" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2 text-light" for="email">Email:</label>
            <div class="col-sm-12">
                <input type="email" class="form-control" id="email" placeholder="Enter email" [(ngModel)]="user.email" name="email" required>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-2 text-light" for="password">Password:</label>
            <div class="col-sm-12">
                <input type="password" class="form-control" id="password" placeholder="Enter Password"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters"
                    [(ngModel)]="user.password" name="password" required />
            </div>
        </div>

        <!-- <div class="form-group">
            <label class="control-label col-sm-10 text-light" for="confirmPassword">Confirm Password:</label>
            <div class="col-sm-12">
                <input type="password" class="form-control form-control-sm" id="confirmPassword" placeholder="Re-Enter Password" oninput="check(this)" required />
            </div>
        </div> -->

        <div class="form-group">
            <label class="control-label col-sm-10 text-light" for="mobileNumber">Mobile Number:</label>
            <div class="col-sm-12">
                <input type="tel" class="form-control" id="number" 
                 title="Enter Mobile number starting with a number between 6-9 and length should be 10" placeholder="Enter Mobile Number" [(ngModel)]="user.number" name="number" required />
            </div>
        </div>

        <button type="submit" class="btn active text-center text-dark"  style="margin-left:40%; font-weight:bold;background-color: #e6b800"><a routerLink="/user/signIn">Sign Up</a></button>

       <br><br>
    </form>
</div>
<br><br>